$error: #ff0000;
$success: #008000;
$border: #f0f0f0;
$border-focus: #636363;
$text: #777777;
$button: #0000ff;
$button-hover: #0069d9;
$box-shadow: #0000004d;
$background: #f4f4f4;
$white: #ffffff;
$modal-button: #dbdbdb;
$modal-background: #00000080;